
{% block body %}
    <link rel="stylesheet" href="{{ asset('build/vendor.css') }}" />
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendor.js') }}"></script>
    <script src="{{ asset('build/app.js') }}"></script>
    <div id="jsGrid"></div>
{% endblock %}
